<form id="find">
    <label>Titulo alerta</label>
    <p>
        <input type="text" class="form-control" name="nombre" placeholder="Alerta...">
    </p>
    <p>
        <label>Periodo de búsqueda</label>
        <input type="text"  class="form-control" name="fecha" placeholder="Siglas...">
    </p>

    <p>
        <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i> Buscar</button>
    </p>

</form>

<div id = "search_results">

</div>