<form>
   <h3>Tipo de individuo:</h3>
    <hr>
    <div class="col-sm-12">
        <label class="radio-inline">
            <input type="radio" name="optradio" value="victime"><strong>Víctima</strong>
        </label>
        <label class="radio-inline">
            <input type="radio" name="optradio" value="companion"><strong>Acompañante</strong>
        </label>
        <label class="radio-inline">
            <input type="radio" name="optradio" value="suspect"><strong>Sospechoso</strong>
        </label>
        <br><br>
    </div>

    <p>
        <button class="btn btn-primary" type="submit">Seleccionar</button>
    </p>

</form>