<form>
    <p>
        <label>Área</label>
        <input type="text" class="form-control" name="area" required placeholder="Nombre área"> <!-- Option list -->
    </p>
    <p>
        <label>Alerta a la que pertenece el área</label>
        <select name = "id_alerta" class="form-control" required>
            <%
            if (alertas.length > 0 ){
            for (var i =0; i < alertas.length; i++){
            %>
            <option value="<%= alertas[i].id %>"> <%= alertas[i].title %> </option>
            <%
            }
            }else {
            %>
            <option value="">Ninguna</option>
            <% }%>
        </select>
    </p>

    <p>
        <label>Descripcion</label>
        <textarea rows="5" name="areadesc" class = "form-control"></textarea>
    </p>
    <p>
        <label>Polígono</label>
        <input type="text" name="polygon" class = "form-control"></input>
    </p>
    <p>
        <label>Código geográfico</label>
        <input type="text" name="geocode" class = "form-control"></input>
    </p>


    <p>
        <button class="btn btn-primary" type="submit">Registrar</button>
    </p>

</form>