<form>
    <p>
        <label>Titulo</label>
        <input type="text" class="form-control" name="title" required placeholder="Titulo">
    </p>
    <p>
        <label>Estatus</label>
        <input type="text" class="form-control" name="status" required>
    </p>

    <p>
        <label>Tipo de alerta</label>
        <input type="text" class="form-control" name="msgtype">
    </p>

    <p>
        <label>Fuente</label>
        <input type="text" class="form-control" name="source">
    </p>
    <p>
        <label>Descripción</label>
        <textarea rows="5" name="desc" class = "form-control"></textarea>
    </p>

    <p>
        <button class="btn btn-primary" type="submit">Registrar</button>
    </p>

</form>