<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title><%= title%></title>
    <!-- Polymer -->
    <script type="text/javascript" src="bower_components/webcomponentsjs/webcomponents-lite.min.js"></script>
    <link rel="import" href="bower_components/polymer/polymer.html">
    <link rel="import" href="/bower_components/dgm-footer/dgm-footer.html">
    <!-- Bootstrap -->
    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <!-- font awesome -->
    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">
</head>
<body>
<% include partials/navbar.ejs%>

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">Dependencias</div>
                <div class="panel-body">
                    <div class="list-group">
                        <button type="button" data-action="new_dep" data-toggle="modal" data-target="#genericModal" class="list-group-item"><i class="fa fa-plus-square"></i> <strong>Añadir dependencia<strong></strong></strong></button>
                        <button type="button" data-action="edit_dep" data-toggle="modal" data-target="#genericModal"  class="list-group-item"><i class="fa fa-edit"></i> <strong>Editar o eliminar dependencia</strong></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">Administrar de usuarios</div>
                <div class="panel-body">
                    <div class="list-group">
                        <button type="button" data-toggle="modal" data-target="#genericModal" data-action="new_user" class="list-group-item"><i class="fa fa-user-plus"></i> <strong>Crear usuario </strong></button>
                        <button type="button" data-action="edit_user" data-toggle="modal" data-target="#genericModal"  class="list-group-item"><i class="fa fa-users"></i> <strong>Editar o eliminar usuarios</strong></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-sm-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading">Reportes</div>
                <div class="panel-body">
                    <div class="list-group">
                        <button type="button" class="list-group-item" data-toggle="modal" data-target="#genericModal" data-action="reports"><i class="fa fa-file-text"></i> <strong>Generar reportes</strong></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<% include partials/modal.ejs %>
<dgm-footer></dgm-footer>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

<script src="/bower_components/jspdf/dist/jspdf.min.js"></script>

<!-- datepicker -->
<script type="text/javascript" src="/bower_components/moment/min/moment.min.js"></script>
<script type="text/javascript" src="/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="/bower_components/timepicker/jquery.timepicker.min.js"></script>
<script src="/javascripts/modal.js"></script>

</body>
</html>
