@import url('http://getbootstrap.com/dist/css/bootstrap.css');
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);
html {
  font-family: "Open Sans";
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin-top: 80px;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 1.8em;
  color: #6f6f6f;
}

a {
  color: #00B7FF;
}

.container-table {
  display: table;
  margin-top: 120px;
  margin-bottom: 20px;
}
.vertical-center-row {
  display: table-cell;
  vertical-align: middle;
}

.btn-primary {
  background: none;
  border: 2px solid #a6192e;
  color: #a6192e;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
  background: #a6192e;
  color: white;
  border: 2px solid #a6192e;
}

.btn-primary:active, btn-primary.active{
  border-color: #9e9e9e !important;
  background: #9e9e9e !important;
  color: white;
  box-shadow: none;
}


.nav-pills> li > a  {
  color: white;
  background: #a6192e;
  border: 2px solid #a6192e;
}

.nav-pills> li > a:hover  {
  color: white;
  background: #ad1457;
  border: 2px solid #ad1457;
}

.nav-pills> li > a:active, .nav-pills> li > a.active, .nav-pills> li > a:focus, .nav-pills> li > a.focus, .nav-pills > li.active > a:focus, .nav-pills > li.active > a{
  background: white !important;
  border: 2px solid #a6192e;
  border-color: #a6192e !important;
  color: #a6192e !important;
  box-shadow: none;
}


.fa-chevron-circle-up:hover, .fa-chevron-circle-down:hover, .fa-times-circle-o:hover{
  color: #616161 !important;
  box-shadow: none;
}

.fa-chevron-circle-up:active, .fa-chevron-circle-down:active, .fa-times-circle-o:active{
  color: #a6192e !important;
  box-shadow: none;
}

.panel-heading {
  background: #a6192e !important;
  color: white !important;
  font-weight: bold;
}

.selectpicker {
  border-color: #9E9E9E !important;
  background-color: white !important;
  color: #9E9E9E  !important;
  font-weight: bold;
}
